<div class="navbar-wrapper">
  <nav class="main-navbar clearfix">
    <ul>
      <li  ui-sref-active="active">
        <a ui-sref="room({pageNum: 1})" >Meeting room 1</a>
      </li>
      <li  ui-sref-active="active">
        <a ui-sref="room({pageNum: 2})">Meeting room 2</a>
      </li>
      <li  ui-sref-active="active">
        <a ui-sref="room({pageNum: 3})">Meeting room 3</a>
      </li>
    </ul>
  </nav>
</div>

<!-- <nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
 -->