<nav ui-view="navbar"></nav>

<div class="page-wrapper _room">

    <div class="row" id="demo">

      <div class="col-md-12">

        <div class="room-breadcrumbs">
          booking / room {{vm.currentRoom}}
        </div>

        <div class="row">
          <div class="col-sm-3">
            <h4> Title </h4>
            <input type="text" class="form-control" ng-model="vm.newEvent.title">
          </div>
          <div class="col-sm-3">
            <h4> Starts at </h4>
            <p class="input-group" style="max-width: 250px">
              <input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="vm.newEvent.startsAt" is-open="vm.newEvent.startOpen" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', vm.newEvent)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <timepicker ng-model="vm.newEvent.startsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
          </div>
          <div class="col-sm-3">
            <h4> Ends at </h4>
            <p class="input-group" style="max-width: 250px">
              <input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="vm.newEvent.endsAt" is-open="vm.newEvent.endOpen" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'endOpen', vm.newEvent)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <timepicker ng-model="vm.newEvent.endsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
          </div>
          <div class="col-sm-3 add-event-block">
            <button class="black-btn"
                    ng-disabled="!vm.newEvent.title ||
                                 !vm.newEvent.startsAt ||
                                 !vm.newEvent.endsAt ||
                                 !vm.userData"
                    ng-click="vm.setBookinfo();">
              add
            </button>
            <div class="no-user-warning" ng-show="!vm.userData" ng-click="vm.modal()">Add your name</div>
          </div>


 		</div>
          
        <hr/>
       <!--  <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Remove</th>
            </tr>
          </thead>

<tbody>
            <tr>
              <td><input type="text" class="form-control" ng-model="vm.newEvent.title"></td>
              <td>
                <p class="input-group" style="max-width: 250px">
                  <input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="vm.newEvent.startsAt" is-open="vm.newEvent.startOpen" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', vm.newEvent)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <timepicker ng-model="vm.newEvent.startsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
              </td>
              <td>
                <p class="input-group" style="max-width: 250px">
                  <input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="vm.newEvent.endsAt" is-open="vm.newEvent.endOpen" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'endOpen', vm.newEvent)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <timepicker ng-model="vm.newEvent.endsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
              </td>
              <td>
              <button class="btn btn-primary pull-right"
                      ng-disabled="!vm.newEvent.title ||
                                   !vm.newEvent.startsAt ||
                                   !vm.newEvent.endsAt"
                      ng-click="vm.newBookInfo({
                                title: vm.newEvent.title,
                                startsAt: vm.newEvent.startsAt,
                                endsAt: vm.newEvent.endsAt})">
                Add new
              </button>

              </td>
            </tr>
          </tbody>

        </table> -->

        <br/>

        <h2 class="text-center">{{ vm.calendarTitle }}</h2>

        <div class="row">

          <div class="col-md-6 text-center">
            <div class="btn-group">
              <button
                class="btn btn-primary"
                mwl-date-modifier
                date="vm.calendarDay"
                decrement="vm.calendarView">
                Previous
              </button>
              <button
                class="btn btn-default"
                mwl-date-modifier
                date="vm.calendarDay"
                set-to-today>
                Today
              </button>
              <button
                class="btn btn-primary"
                mwl-date-modifier
                date="vm.calendarDay"
                increment="vm.calendarView">
                Next
              </button>
            </div>
          </div>

          <br class="visible-xs visible-sm">

          <div class="col-md-6 text-center">
            <div class="btn-group">
              <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'year'">Year</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'month'">Month</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'week'">Week</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" btn-radio="'day'">Day</label>
            </div>
          </div>

        </div>

        <br>

  		<mwl-calendar
          events="vm.events"
          view="vm.calendarView"
          view-title="vm.calendarTitle"
          current-day="vm.calendarDay"
          on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
          auto-open="true"
          day-view-start="06:00"
          day-view-end="22:00"
          day-view-split="30">
        </mwl-calendar>
      </div>
    </div>


</div>