<div class="modal-header">
	<h3 class="modal-title">This date is already booked! Please choose another date.</h3>
</div>
<div class="modal-body row">
	<div class="col-md-12">
		<button class="black-btn black-btn--error" type="button" ng-click="modalError.onClose()">OK</button>
	</div>
</div>
