<div class="modal-header">
	<h3 class="modal-title">Tell your name </h3>
</div>
<div class="modal-body row">
	<div class="col-md-12">
      <input type="text" ng-model="modal.selected" typeahead="state for state in modal.states | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select='modal.onSelect($item)'>
    </div>
    <div class="col-md-12">
      <button class="black-btn" type="button" ng-click="modal.addUser()">Accept</button>
    </div>
</div>
