<nav ui-view="navbar"></nav>
<div class="page-wrapper clearfix">
  <div class="row">
    <div class="col-sm-4">
      <div class="ref-room">
        <img src="../assets/images/meeting_room.jpg" />
        <a ui-sref="room({pageNum: 1})">
          <div class="_mask-wrapper">
            <div class="_mask_1">room 1</div>
            <div class="_mask_2">floor 2</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ref-room">
        <img src="../assets/images/room_2.jpg" />
        <a ui-sref="room({pageNum: 2})">
          <div class="_mask-wrapper">
            <div class="_mask_1">room 2</div>
            <div class="_mask_2">floor 2</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ref-room">
        <img src="../assets/images/meeting_room.jpg" />
        <a ui-sref="room({pageNum: 3})">
          <div class="_mask-wrapper">
            <div class="_mask_1">room 3</div>
            <div class="_mask_2">floor 3</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>