<div class="navbar-wrapper">
  <nav class="main-navbar clearfix">
    <ul>
      <li>
        <a ui-sref="home">main</a>
      </li>
      <li  ui-sref-active="room-active" ng-if="!!vm.currentRoom">
        <a ui-sref="room({pageNum: 1})" >meeting room 1</a>
      </li>
      <li  ui-sref-active="room-active" ng-if="!!vm.currentRoom">
        <a ui-sref="room({pageNum: 2})">meeting room 2</a>
      </li>
      <li  ui-sref-active="room-active" ng-if="!!vm.currentRoom">
        <a ui-sref="room({pageNum: 3})">meeting room 3</a>
      </li>
    </ul>
    <a class="chi-logo" href="http://chisw.com" target="_blank">CHI Software</a>
    <div class="user-field">
      <div ng-if="vm.userData" ng-click="vm.modal()">Welcome, &nbsp; <span>{{vm.userData.firstname + " " + vm.userData.lastname}}</span></div>
      <div class="_unlogged" ng-if="!vm.userData" ng-click="vm.modal()">Tell your name</div>
    </div>


  </nav>
</div>
