/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
@font-face {
    font-family: 'politicaregular';
    src: url('../assets/fonts/politica-webfont.eot');
    src: url('../assets/fonts/politica-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/politica-webfont.woff') format('woff'),
    url('../assets/fonts/politica-webfont.svg#politicaregular') format('svg'),
    url('../assets/fonts/politica-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museosans';
    src: url('../assets/fonts/museo_sans_cyrillic_500-webfont.eot');
    src: url('../assets/fonts/museo_sans_cyrillic_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/museo_sans_cyrillic_500-webfont.woff') format('woff'),
    url('../assets/fonts/museo_sans_cyrillic_500-webfont.svg#museosans') format('svg'),
    url('../assets/fonts/museo_sans_cyrillic_500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museosans100';
    src: url('../assets/fonts/museosanscyrl-webfont.eot');
    src: url('../assets/fonts/museosanscyrl-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/museosanscyrl-webfont.woff') format('woff'),
    url('../assets/fonts/museosanscyrl-webfont.svg#museosans') format('svg'),
    url('../assets/fonts/museosanscyrl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'museosans700';
font-style: normal;
font-weight: normal;
src:  url('../assets/fonts/MuseoSansCyrl_700.woff') format('woff');
}
@font-face {
font-family: 'museosans300';
font-style: normal;
font-weight: normal;
src: url('../assets/fonts/MuseoSansCyrl_300.woff') format('woff');
}
@font-face {
    font-family: 'politicalight';
    src: url('../assets/fonts/politica_light-webfont.eot');
    src: url('../assets/fonts/politica_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/politica_light-webfont.woff') format('woff'),
    url('../assets/fonts/politica_light-webfont.svg#politicalight') format('svg'),
    url('../assets/fonts/politica_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'politicabold';
    src: url('../assets/fonts/politica_bold-webfont.eot');
    src: url('../assets/fonts/politica_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/politica_bold-webfont.woff') format('woff'),
    url('../assets/fonts/politica_bold-webfont.svg#politicabold') format('svg'),
    url('../assets/fonts/politica_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriRegular';
    src: url('../assets/fonts/calibri.eot');
    src: url('../assets/fonts/calibri.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/calibri.woff') format('woff'),
    url('../assets/fonts/calibri.ttf') format('truetype'),
    url('../assets/fonts/calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriBold';
    src: url('../assets/fonts/calibrib.eot');
    src: url('../assets/fonts/calibrib.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/calibrib.woff') format('woff'),
    url('../assets/fonts/calibrib.ttf') format('truetype'),
    url('../assets/fonts/calibrib.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriItalic';
    src: url('../assets/fonts/calibrii.eot');
    src: url('../assets/fonts/calibrii.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/calibrii.woff') format('woff'),
    url('../assets/fonts/calibrii.ttf') format('truetype'),
    url('../assets/fonts/calibrii.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriBoldItalic';
    src: url('../assets/fonts/calibriz.eot');
    src: url('../assets/fonts/calibriz.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/calibriz.woff') format('woff'),
    url('../assets/fonts/calibriz.ttf') format('truetype'),
    url('../assets/fonts/calibriz.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CalibriLight';
    src: url('../assets/fonts/calibri_light.eot');
    src: url('../assets/fonts/calibri_light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/calibri_light.woff') format('woff'),
    url('../assets/fonts/calibri_light.ttf') format('truetype'),
    url('../assets/fonts/calibri_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	background: url('/assets/images/bg_light2.jpg') no-repeat fixed;
	background-size: cover;
	font-family: 'museosans300', Arial;
}
a:focus {
	outline: none;
}
.mt-30 {
    margin-top: 30px;
}
.page-wrapper {
	position: relative;
	display: block;
	width: 80%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
}
.navbar-wrapper {
	position: relative;
	display: block;
	width: 100%;
	width: 100%;
	height: auto;
	background-color: #000;
}
.main-navbar {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 50px;
	font-family: 'politicabold', 'museosans300', Arial;
}
.main-navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-navbar ul li {
	float: left;
	border-bottom: 4px #000 solid;
}
.main-navbar ul li:first-child {
	margin-right: 100px;
}
.main-navbar ul li a {
	color: #fff;
	height: 56px;
	line-height: 56px;
	padding: 0 20px;
	font-size: 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.main-navbar ul li a:hover {
	text-decoration: none;
	color: #ccc;
}
.main-navbar ul li.room-active {
	border-bottom: 4px #fff solid;
}
.user-field {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #ccc;
    margin-right: 50px;
    float: right;
}
.user-field span {
    color: #fff;
}
.user-field ._unlogged {
    cursor: pointer;
}
.user-field ._unlogged:hover {
    color: #fff;
}
.chi-logo {
	display: block;
	float: right;
	width: 37px;
	height: 31px;
	margin-top: 14px;
	background: url('/assets/images/logo.png') no-repeat;
	text-indent: -9999px;
}
.chi-logo:hover {
	text-decoration: none;
}
.page-wrapper._room {
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
}
.ref-room  {
	display: block;
	height: 80vh;
	border: 3px #000 solid;
	float: left;
	overflow: hidden;
    padding: 0;
    cursor: pointer;
}
.ref-room:hover {
    border: none;
}
.ref-room a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: -100%;
}
.ref-room:hover a {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.ref-room img {
	height: 100%;
    width: 100%;
}
.ref-room ._mask-wrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 40%;
    transform: translate(0px, -50%);
    background-color: transparent;
    text-align: center;
    overflow: hidden;
    font: 40px/60px "politicabold",Verdana,Geneva,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.ref-room:hover ._mask-wrapper {
    display: block;
}
.ref-room ._mask_1, 
.ref-room ._mask_2 {
    position: relative;
    display: block;
    transform: translate(-50%, 0px);
    opacity: 0;
    color: #FFF;
    text-align: center;
    -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
}
.ref-room ._mask_2 {
    transform: translate(100%, 0px);
    font: 14px "museo_sans_cyrl700",Verdana,Geneva,sans-serif;
    letter-spacing: 0.8px;
}
.ref-room:hover ._mask_1,
.ref-room:hover ._mask_2 {
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
}
.ref-room-inner {
    display: block;
    position: relative;
}
.room-breadcrumbs {
    font:24px/36px "politicabold","museosans300",Arial,Tahoma;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.add-event-block {
    height: 185px;
}
.add-event-block button {
    position: absolute;
    top: 40px;
}
.black-btn {
    padding: 5px 50px;
    border: 2px #000 solid;
    border-radius: none;
    text-transform: uppercase;
    background-color: transparent;
    max-width: 300px;
    text-align: center;
    font-family: "museosans700",Verdana,Geneva,sans-serif;
    color: #000;
    letter-spacing: 0.7px;
    -webkit-transition: color 0.2s linear 0s, background-color 0.2s linear 0s;
    -moz-transition: color 0.2s linear 0s, background-color 0.2s linear 0s;
    -o-transition: color 0.2s linear 0s, background-color 0.2s linear 0s;
    transition: color 0.2s linear 0s, background-color 0.2s linear 0s;

}
.black-btn--error {
    display: block;
    margin: 0 auto !important;
}
.black-btn:hover:enabled {
    color: #fff;
    background-color: #000;
}
.black-btn:disabled {
    color: #b5b5b5;
    border: 2px #b5b5b5 solid;
}
.add-event-block .no-user-warning {
    position: absolute;
    bottom: 40px;
    font: 18px/27px "politicabold", "museosans300", Arial;
    color: #a1a1a1;
}
.add-event-block .no-user-warning:hover {
    color: #000;
    cursor: pointer;
}

/* Calendar */
.cal-month-box .cal-cell,
.cal-month-box .cal-row-fluid,
.cal-month-box  {
    border-color: #000;
}
.cal-slide-content {
    background-color: #5f5f5f;
    box-shadow: none;
}

/* Modal */
.modal-content {
    border-radius: 0;
    .modal-header {
        border-bottom: none;
        font-family: 'politicabold', 'museosans300', Arial;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
    }
    .black-btn {
        margin: 20px 0 10px 0;
    }
}